<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a8ac157e8f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;300;400&family=Cairo:wght@300;400;500;600;700&family=Roboto:ital,wght@0,500;1,400&family=Work+Sans:wght@200;300;400;500;600;800&display=swap" rel="stylesheet">
    <title>MY STORE</title>
</head>
<body>
  <section class="products">
  <div class="boxcontainer">
    <div class="box" *ngFor="let item of product" >
      <app-product [data]="item" (item)="addtocart(item)" (viewproduct)="viewevent($event)" ></app-product>
    </div>
  </div>
</section>
</body>
</html>



